.heading{
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px yellow;
}

.note{
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 15px;
}

.copy_right_footer{
    font-family: 'Rubik Moonrocks', sans-serif;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    line-height: 3;
    text-align: center;
    color: red;
}

canvas{
    font-family: 'Rubik Moonrocks', sans-serif;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}